/* You can add global styles to this file, and also import other style files */
:root {
  /* Paleta oficial */
  --rosa-1: #f4edec;
  --rosa-2: #b67a90;
  --roxo: #8a506d;

  /* Tons de apoio */
  --texto-principal: #3a2a33;
  --texto-secundario: #5a4a52;
  --linha-divisoria: #e6dcdc;
}
