/* You can add global styles to this file, and also import other style files */
:root {
  /* Paleta oficial */
  --roxo: #8a506d;
  --rosa-1: #f4edec;
  --rosa-2: #b67a90;
  --rosa-3:#d9b9c3;
  --branco: #ffffff;
  --texto-principal: #3a2a33;
  --texto-secundario: #5a4a52;
  --linha-divisoria: #e6dcdc;
}
